@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white dark:bg-black text-black dark:text-white;
}

.spinner {
  border: 2px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

.dark .spinner {
  border-top-color: white; /* changes in dark mode */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
